<button class="btn btn-success" (click)="AddNewTask()">Add new task</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Due date</th>
      <th scope="col">Assignee</th>
      <th scope="col">State</th>
      <th scope="col"></th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let workTask of project.workTasks">
      <td>{{workTask.title}}</td> 
      <td>{{workTask.description}}</td> 
      <td>{{workTask.dueDate | date:'dd.MM.yyyy'}}</td> 
      <td>{{workTask.assignee?.fullName}}</td> 
      <td>{{workTask.state}}</td> 
      <td>
        <button class="btn btn-primary" style="margin-right: 10px;" (click)="Details(workTask.id)">Details</button>
        
        <button class="btn btn-danger" (click)="Delete(workTask.id)">Delete</button>
      </td> 
    </tr> 
  </tbody>
</table> 