<h1>Number of tasks past 12 months</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Period</th> 
        <th scope="col">New</th> 
        <th scope="col">In progress</th> 
        <th scope="col">In QA</th> 
        <th scope="col">Finished</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let statRecord of stats">
        <td>{{statRecord.month}}</td> 
        <td>{{statRecord.statsRecords[0].count}}</td>  
        <td>{{statRecord.statsRecords[1].count}}</td>  
        <td>{{statRecord.statsRecords[2].count}}</td>  
        <td>{{statRecord.statsRecords[3].count}}</td>  
      </tr> 
    </tbody>
  </table>