<h1 style="text-align: center;">Project info</h1>
<form [formGroup]="ProjectForm" >
<div class="inline">

    <div class="form-group">
        <label >Name</label>
        <input type="text"  class="form-control"  formControlName="name" required >
    </div>
    <div class="form-group">
        <label >Description</label>
        <input type="text"  class="form-control"  formControlName="description" required >
    </div>
    <div class="form-group">
        <label >Client name</label>
        <input type="text"  class="form-control"  formControlName="clientName" required >
    </div>
    
    <br>
    <div style="margin-top: 22px;" class="form-group">
        <button (click)="Save()" class="btn btn-success">Save changes</button>
    </div>
</div>
</form>

<h3>Project tasks</h3>
<button class="btn btn-success" (click)="AddNewTask()">Add new task</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Due date</th>
      <th scope="col">Assignee</th>
      <th scope="col">State</th>
      <th scope="col"></th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let workTask of project.workTasks">
      <td>{{workTask.title}}</td> 
      <td>{{workTask.description}}</td> 
      <td>{{workTask.dueDate | date:'dd.MM.yyyy'}}</td> 
      <td>{{workTask.assignee?.fullName}}</td> 
      <td>{{workTask.state}}</td> 
      <td>
        <button class="btn btn-primary" style="margin-right: 10px;" (click)="Details(workTask.id)">Details</button>
        
        <button class="btn btn-danger" (click)="Delete(workTask.id)">Delete</button>
      </td> 
    </tr> 
  </tbody>
</table> 